<h1>Create a new article</h1>

<!-- using "local: true only" applies to form_with  -->
<%= form_with scope: :article, url: articles_path, local: true do |f| %>
    <p>
        <%= f.label :title %> <br/>
        <%= f.text_field :title %>
    </p>

    <p>
        <%= f.label :description%> <br/>
        <%= f.text_field :description%>
    </p> 

    <p>
        <%= f.submit %>
    </p> 
<% end %>